/**
 * Copyright (C) 2018 Jens Lechtenbörger
 *
 * Theme for ERCIS presentation with quote on title page
 *
 * Released under the MIT License: https://opensource.org/licenses/MIT
 */

@import url(ercis.css);

.reveal h1 { font-size: 1.8em; }
.ercis-logo { z-index: -1; }
.reveal blockquote { width: 100%; margin: 2ex 0 1ex 0; }
.reveal .talk-subtitle p { margin: 0; line-height: 1.1; font-size: 0.7em; color: rgba(0,0,0,0.8); }
.reveal .talk-subtitle .slide-source { font-size: 0.5em; }
.reveal .talk-subtitle .usage p {font-size: 0.4em; color: rgba(195,148,146,0.8);}
.reveal .source-license { margin: 1ex 0 0 0; width: 100%; }
.reveal .source-license p { font-size: .6em; }
.reveal p.online-link { float: left; }
.reveal p.license-link { float: right; }
#id-a-talks-url, #id-a-license-slide { color: rgb(195,148,146); }
