<a class="nooutlink" href="https://www.uni-muenster.de/en/"><img class="state-background wwu-logo" width="296" height="100" src="title-slide/WWUMuenster_Logo_2017_klein.png" alt="Logo of University of Muenster, Germany (WWU Münster)" /></a>
<a class="nooutlink" href="https://www.ercis.org/"><img class="state-background ercis-logo" src="title-slide/ERCIS_logo_250.png" alt="Logo of European Research Center for Information Systems (ERCIS)" /></a>
<div class="talk-title">
  <h1 class="no-toc-progress">%t</h1>
</div>
<div class="talk-subtitle">
  <p>%s</p>
</div>
<div class="source-license">
    <p class="online-link"><a id="id-a-talks-url" href="https://lechten.gitlab.io/talks/">https://lechten.gitlab.io/talks/</a></p>
    <p class="license-link"><a id="id-a-license-slide" href="#/slide-license">License Information</a></p></div>
